.table {
    display: flex;
    flex-direction: column;
    max-height: 30em;
    max-width: 60em;
    margin-top: 3em;

    &__header {
        display: flex;
        text-transform: uppercase;
        background-color: darken($color: $color-default, $amount: 0);

      

        .text {
            text-align: center;
            padding: $spacing-s;
            flex: 1;
            color:black;
            font-size: $textSize-xl;
        }
    }

    &__content {
        flex: 1;
        display: flex;
        overflow: auto;
        flex-direction: column;
      

        &--loading {
            justify-content: center;
            align-items: "center";
        }

        .table__item {
            display: flex;
            background-color: lighten($color: $color-default, $amount: 30);
         

            &:nth-of-type(even) {
                background-color: $color-default;
            }

            &:hover {
                background-color: lighten($color: $color-primary, $amount: 30);
            }

            .table__cell {
                display: flex;
                justify-content: center;
                padding: $spacing-s;
                flex: 1;
                align-items: center;
            }
        }
    }
}
