$textSize-s: 0.75em;
$textSize-m: 1em;
$textSize-l: 1.25em;

$color-primary: #2196f3;
$color-highlight: #f3ae21;
$color-success: #c2e617;
$color-danger: #f44556;
$color-default: #e2e2e2;

$fontFamily: "Arial";

$spacing-s:0.5em; 
$spacing-m:1em;
$spacing-l: 1.5em;

$radius: 5px;
$shadow:rgba(0,0,0,0.5) 0px 5px 15px 0px;

@import "./components/_shared/button/";
@import "./components/_shared/text/";
@import "./components/_shared/icon/";
@import "./components/header";
@import "./components/_shared/table";
@import "./components/home";
@import "./components/_shared/loader/";


html {
    width: 100%;
    height: 100%;
}

body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("/images/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;


    #app {
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255, 0.3);
    }
}
